#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #36454F;
  height:75px;
}

#navbar a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  text-decoration: none;
}

#bottom-bar {
  background-color: #36454F;
  height:75px;
}

#milktea {

  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  width: 300px;
  margin-left:0;
  padding:2em;

}

h1 {
  margin-top:50px;
  margin-bottom: 10px;
  border: 1px solid #36454F;
}

h6 {
  font-weight: normal;
  margin-top:0;
  text-align: center;
  color:white;
  background-color: #36454F;
}

table {
  display: grid;
  table-layout: auto;
  border-width: 3px;
}

#main {
  border: 10px solid teal;
  border-radius: 25px;
  margin:20px;
  padding: 1em;
}

p {
  font-size: 1em;
}

h2 {
  font-size: normal;
}
